In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score 
from sklearn.preprocessing import LabelEncoder

from sklearn.ensemble import RandomForestRegressor

import tensorflow as tf

In [102]:
data = pd.read_csv( r"D:\Courses language programming\5_Machine Learning\Dataset For Machine Learning\Vehicle_DataSet\car data.csv")

In [103]:
data.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [105]:
data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [109]:
for col in data.select_dtypes(include=["object"]).columns:
    data[col] = LabelEncoder().fit_transform(data[col])

In [110]:
data.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,90,2014,3.35,5.59,27000,2,0,1,0
1,93,2013,4.75,9.54,43000,1,0,1,0
2,68,2017,7.25,9.85,6900,2,0,1,0
3,96,2011,2.85,4.15,5200,2,0,1,0
4,92,2014,4.60,6.87,42450,1,0,1,0

In [112]:
x = data.drop(columns=["Selling_Price"], axis=1)
Y = data["Selling_Price"]

In [113]:
x_train, x_test, y_train, y_test = train_test_split(x, Y, train_size=0.7, random_state=42)

In [115]:
model1 = RandomForestRegressor(n_estimators=100, max_depth=10)
model1.fit(x_train, y_train)

RandomForestRegressor(max_depth=10)

In [116]:
print(f"THe Accuracy Training Datais {model1.score(x_train, y_train)}")
print(f"THe Accuracy Testing Datais {model1.score(x_test, y_test)}")

THe Accuracy Training Datais 0.9832134648543419
THe Accuracy Testing Datais 0.9637678951743176

In [117]:
model = cross_val_score(estimator=model1, X=x_train, y=y_train, cv=10, 
                        n_jobs=-1, 
                        scoring="accuracy")

In [123]:
print(f"The Mean Accuracy is ==> {model}")
print(f"The Max Score is ==> {model.sum()}")

The Mean Accuracy is ==> [nan nan nan nan nan nan nan nan nan nan]
The Max Score is ==> nan