In [8]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.pipeline import FeatureUnion
from sklearn_features.transformers import DataFrameSelector

In [10]:
# num[col] ==> numrecal Columns not Ctegorical

In [4]:
#### Pipepline For Numercal Value

num_pipeoline = Pipeline(steps=[
        ("selector", DataFrameSelector(num[col]))
        ("imputer", SimpleImputer(strategy="median")),
        ("scaler", StandardScaler())
])

Cat_pipeoline = Pipeline(steps=[
        ("imputer", SimpleImputer(strategy="constant", fill_value="missing")),
        ("La", LabelEncoder())
])

num_pipeoline.fit(X)
Cat_pipeoline.fit(X)

total_pipepline = FeatureUnion(transformer_list=[
    ("num_pipeoline", num_pipeoline),
    ("Cat_pipeoline", Cat_pipeoline)
])

NameError: name 'X' is not defined

In [1]:
#### Pipepline For Ctegorical Value

In [2]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from imblearn.over_sampling import SMOTE

In [24]:
data = pd.read_csv(r'D:\Courses language programming\5_Machine Learning\Dataset For Machine Learning\Training_Data_set_For_ML\heart_failure_clinical_records_dataset.csv')

data.head(5)

    age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  ...  serum_sodium  sex  smoking  time  DEATH_EVENT
0  75.0        0                       582         0                 20  ...           130    1        0     4            1
1  55.0        0                      7861         0                 38  ...           136    1        0     6            1
2  65.0        0                       146         0                 20  ...           129    1        1     7            1
3  50.0        1                       111         0                 20  ...           137    1        0     7            1
4  65.0        1                       160         1                 20  ...           116    0        0     8            1

[5 rows x 13 columns]

In [25]:
data.shape

(299, 13)

In [26]:
data[data["DEATH_EVENT"] == 1].shape[0], data[data["DEATH_EVENT"] == 0].shape[0]

(96, 203)

In [27]:
x = data.drop(columns="DEATH_EVENT", axis=1)
y = data["DEATH_EVENT"]

new_x, new_y = SMOTE().fit_resample(x, y)

data = pd.concat([new_x, new_y], axis=1)

In [28]:
data[data["DEATH_EVENT"] == 1].shape[0], data[data["DEATH_EVENT"] == 0].shape[0]

(203, 203)